.recent-events {
  width: 35%;
  margin-left: 25px;
  position: relative;
  height: 438px;
  overflow: hidden;
  overflow-y: auto;
  -webkit-box-shadow: inset 0 -20px 15px -10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -20px 15px -10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -20px 15px -10px rgba(0, 0, 0, 0.2);
  padding: 0 30px 15px 30px;

  .all-events-link {
    position: absolute;
    right: 25px;
    top: 4px;
  }
}

.event-card-mini {
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #163550;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 3px rgba(245, 34, 45, 0.2);
  background: #b7c3e01a;
  background-color: rgba(183, 195, 224, 0.1);
  background-color: rgba(183, 195, 224, 0.1);
  background-color: var(--palegrey);
  margin-bottom: 20px;

  &:hover {
    background: #b7c3e01a;
    cursor: pointer;
  }

  img {
    border-radius: 10px;
    height: 70px;
    width: 70px;
    color: #ccc;
    background: #ccc;
  }

  .event-details {
    flex: 1;
    margin: 0 20px;

    .event-title {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .event-date {
      margin-bottom: 3px;
      font-size: 0.9em;
    }

    .event-address {
      font-size: 0.9em;
    }
  }

  .event-action {
    width: 45px;
    height: 45px;
    font-size: 2em;
    color: #f5222d;
    background: transparent;
    border-radius: 50px;
    align-self: center;
    text-align: center;
    margin-right: 15px;
    cursor: pointer;

    &:hover {
      color: white;
      background: #f5222d;
    }
  }
}

.event-card {
  width: 30%;
  position: relative;
  height: 360px;
  margin-top: 35px;
  margin-bottom: 30px;
  padding: 25px;
  box-shadow: -2px -2px 8px 0 rgba(245, 34, 45, 0.3);
  background: #b7c3e01a;
  background-color: rgba(183, 195, 224, 0.1);
  background-color: rgba(183, 195, 224, 0.1);
  background-color: var(--palegrey);
  cursor: pointer;
  border-top: 5px solid #e61c26;

  .thumbnail {
    position: absolute;
    top: -20px;
    left: 25px;
  }

  img {
    border-radius: 25px;
  }

  .title {
    padding-left: 140px;
    font-size: 1.5em;
    height: 65px;
  }

  .description {
    margin-top: 25px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: calc(100% - 50px);
    margin-bottom: 25px;
  }

  .event-details {
    width: 45%;
  }

  .event-action {
    width: 45%;
  }
}

.event-feed {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.event-feed-actions {
  display: flex;
  margin-bottom: 50px;
}

.background-purple {
  background: #a3238e !important;
}
.background-red {
  background: #ed1c24 !important;
}
.background-yellow {
  background: #ffcb05 !important;
}
.background-cyan {
  background: #61cbe6 !important;
}
.background-magenta {
  background: #ec008c !important;
}
.background-lime {
  background: #a6ce39 !important;
}
.background-gold {
  background: #d2ab67 !important;
}

/* CARDS  */
.event-card-purple {
  border-top: 5px solid #7a2f6e;
  box-shadow: -2px -2px 8px 0 rgba(245, 61, 150, 0.3);

  button {
    background: #7a2f6e;
    border-color: #7a2f6e;
  }
}

.event-card-red {
  border-top: 5px solid #ed1c24;
  box-shadow: -2px -2px 8px 0 rgba(245, 34, 45, 0.3);

  button {
    background: #ed1c24;
    border-color: #ed1c24;
  }
}

.event-card-yellow {
  border-top: 5px solid #ffcb05;
  box-shadow: -2px -2px 8px 0 rgba(245, 225, 44, 0.3);

  button {
    background: #ffcb05;
    border-color: #ffcb05;
  }
}

.event-card-cyan {
  border-top: 5px solid #61cbe6;
  box-shadow: -2px -2px 8px 0 rgba(42, 245, 234, 0.3);

  button {
    background: #61cbe6;
    border-color: #61cbe6;
  }
}

.event-card-lime {
  border-top: 5px solid #a6ce39;
  box-shadow: -2px -2px 8px 0 rgba(146, 245, 67, 0.3);

  button {
    background: #a6ce39;
    border-color: #a6ce39;
  }
}

.event-card-gold {
  border-top: 5px solid #d2ab67;
  box-shadow: -2px -2px 8px 0 rgba(245, 204, 67, 0.3);

  button {
    background: #d2ab67;
    border-color: #d2ab67;
  }
}

.event-card-magenta {
  border-top: 5px solid #ec008c;
  box-shadow: -2px -2px 8px 0 rgba(245, 85, 174, 0.3);

  button {
    background: #ec008c;
    border-color: #ec008c;
  }
}

/* MINI CARDS */
.event-card-mini-purple {
  box-shadow: 0px 0px 5px 3px rgba(245, 52, 139, 0.2);
  .event-action {
    color: #a3238e;
    &:hover {
      background: #a3238e;
    }
  }
}

.event-card-mini-red {
  box-shadow: 0px 0px 5px 3px rgba(245, 48, 40, 0.2);
  .event-action {
    color: #ed1c24;
    &:hover {
      background: #ed1c24;
    }
  }
}

.event-card-mini-yellow {
  box-shadow: 0px 0px 5px 3px rgba(242, 245, 44, 0.2);
  .event-action {
    color: #ffcb05;
    &:hover {
      background: #ffcb05;
    }
  }
}

.event-card-mini-cyan {
  box-shadow: 0px 0px 5px 3px rgba(45, 245, 234, 0.2);
  .event-action {
    color: #61cbe6;
    &:hover {
      background: #61cbe6;
    }
  }
}

.event-card-mini-magenta {
  box-shadow: 0px 0px 5px 3px rgba(245, 77, 214, 0.2);
  .event-action {
    color: #ec008c;
    &:hover {
      background: #ec008c;
    }
  }
}

.event-card-mini-lime {
  box-shadow: 0px 0px 5px 3px rgba(128, 245, 62, 0.2);
  .event-action {
    color: #a6ce39;
    &:hover {
      background: #a6ce39;
    }
  }
}

.event-card-mini-gold {
  box-shadow: 0px 0px 5px 3px rgba(245, 195, 63, 0.2);
  .event-action {
    color: #d2ab67;
    &:hover {
      background: #d2ab67;
    }
  }
}
