<agm-map
  [styles]="mapStyles"
  [latitude]="map.lat"
  [longitude]="map.lng"
  [mapTypeId]="map.mapType"
  [zoom]="map.zoom"
  (mapClick)="mapClicked($event)"
  (mapReady)="mapReady($event)"
  (zoomChange)="closeInfoWindow()"
>
  <agm-marker
    *ngFor="let marker of markers"
    [latitude]="marker.lat"
    [longitude]="marker.lng"
    [opacity]="marker.alpha"
    [iconUrl]="{ url: 'assets/icons/' + getMarkerImageUrl(marker.category.name) + '.svg', scaledSize: { width: 30, height: 30 } }"
    (markerClick)="showInfoPopover(markerInfoWindow, marker)"
  >
    <agm-info-window #markerInfoWindow [disableAutoPan]="true">
      <div class="info-window-wrapper">
        <img [src]="marker.image" [alt]="marker.name" class="event-image" />
        <div class="event-title">{{ marker.name }}</div>
        <p class="event-date">
          <i nz-icon type="clock-circle" theme="outline"></i>
          September 10, 2019
        </p>
        <p class="event-address">
          <i nz-icon type="environment" theme="outline"></i>
          Warszawska, 10/7
        </p>
        <button nz-button nzType="dashed" nzSize="small">Więcej</button>
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>

<button (click)="click()">azxczx</button>
