<div #contextMenu class="context-menu">
  <div class="button">Add</div>
  <div class="button">remove</div>
</div>
<agm-map
  [latitude]="map.lat"
  [longitude]="map.lng"
  [mapTypeId]="map.mapType"
  [zoom]="map.zoom"
  (mapClick)="mapClicked($event)"
  (mapReady)="mapReady($event)"
  >
    <agm-marker
      *ngFor="let marker of markers"
      [latitude]="marker.lat"
      [longitude]="marker.lng"
      [opacity]="marker.alpha"
      [iconUrl]="marker.icon"
      (markerClick)="selectMarker($event)"
      (markerRightClick)="markerOptions(marker.id)"
    >
    </agm-marker>
</agm-map>

<button (click)="click()">azxczx</button>
