<ng-template #contextMenuTemplate>
  <ul nz-menu nzInDropDown (nzClick)="closeContextMenu($event)" class="context-menu">
    <li nz-menu-item>1st menu item</li>
    <li nz-menu-item>2nd menu item</li>
    <li nz-menu-item nzDisabled>disabled menu item</li>
  </ul>
</ng-template>

<agm-map
  [latitude]="map.lat"
  [longitude]="map.lng"
  [mapTypeId]="map.mapType"
  [zoom]="map.zoom"
  (mapClick)="mapClicked($event)"
  (mapReady)="mapReady($event)"
>
  <agm-marker
    *ngFor="let marker of markers"
    [latitude]="marker.lat"
    [longitude]="marker.lng"
    [opacity]="marker.alpha"
    [iconUrl]="marker.icon"
    (markerClick)="showContextMenu($event, contextMenuTemplate)"
  >
  </agm-marker>
</agm-map>

<button (click)="click()">azxczx</button>
